/*样式重置*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica,STHeiti,Droid Sans Fallback;
}
body{
    background: #FAFAFA;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
.clearfix:after{
    content: ' ';
    display: block;
    clear: both;
}
/**/
header .head{
    background: url("../img/headerbg_v2.png") top no-repeat;
    background-size: contain;
    background-position: 23rem center;
    background-color: #FAFAFA;
}
header .head .logo {
    display: inline-block;
    margin: 1.3rem;
}
header .head .logo img{
    height: 4.5rem;
}
header .head span{
    display: inline-block;
    margin: 1.3rem;
    padding: .4rem;
    float: right;
    border-radius: 8px;
    font-size: 3rem;
    background: #4998E7;
    color: #FFFFFF;
}
/*nav部分*/
header nav{
    padding-bottom: 1rem;
    background: #4998E7;
    border-top: 5px solid #317ECB;
}
header nav ul{}
header nav ul li{
    display: inline-block;
    margin: 1rem 2.9rem;
}
header nav ul li a{
    font-size: 3rem;
    color: #FFF;
}
/*轮播*/
header .carousel{
    position: relative;
    height: 508px;
}
header .carousel .img-ct{
    height: 508px;
}
header .carousel .img-ct li{
    position: absolute;
    width: 100%;
    height: 508px;
}
header .carousel .img-ct li a{
    display: block;
}
header .carousel .img-ct li a img{
    width: 980px;
    height: 508px;
}
header .carousel .img-ct li div{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: .3rem 0 2rem 4rem;
    font-size: 1.5rem;
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
    background: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.9));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.9));
    background: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.9));
}
header .carousel .img-ct li a div h2{
}
header .carousel .bullet{
    position: absolute;
    bottom: 30px;
    right: 3%;
}
header .carousel .bullet li{
    display: inline-block;
    margin-right: 1.3rem;
    width: 0;
    border: .55rem solid #AAAAAA;
}
header .carousel .bullet .active{
    border-color: #4998E7;
}
/*新闻内容部分*/
.wrap{}
/*轮播下的列表*/
.wrap .list{
    padding: 1.3rem 1.6rem;
}
.wrap .list ul{}
.wrap .list ul li{
    font-size: 2.4rem;
    line-height: 4.7rem;
    border-bottom: .3px solid #cccccc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.wrap .list ul li:last-of-type{
    border-bottom: none;
}
.wrap .list ul li strong{
    font-style: normal;
    font-weight: 400;
}
.wrap .list ul li strong:after{
    content: '|';
    margin-left: 1.2rem;
    font-size: 2.1rem;
    color: #d5d5d5;
}
.wrap .list ul li span{}
.wrap .list ul li span img{
    width: 7.5rem;
    margin-bottom: 1rem;
    margin-left: -9px;
}
.wrap .list ul li strong a{
    color: #458fce;
}
.wrap .list ul li span a{
    color: #111;
}
.wrap .list .QQLoginInto{
    font-size: 2.7rem;
    border: 2px solid #e0f0ff;
    border-radius: 3px;
    background-color: #EDF6FF;
}
.wrap .list .QQLoginInto a{
    display: inline-block;
    line-height: 6rem;
    height: 6rem;
    width: 100%;
    text-align: center;
    color: #4998e7;
}
.wrap .list .QQLoginInto a .goInto:after{
    content: '';
    display: inline-block;
    margin-left: 10px;
    width: 48px;
    height: 53px;
    background-image: url("../img/icon_v2.png");
    background-repeat: no-repeat;
    background-position: -137px 0px;
    background-size: 262px 46px;
    vertical-align: middle;
}

/*tab*/
.tab{
    overflow: hidden;
}
/*tab的头部*/
.tab .head{
    background-image: url("../img/headbg.png");
    background-repeat: no-repeat;
    background-position: left -62px;
    font-size: 1.8rem;
    border-top: .4rem solid #9ac7ed;
}
.tab .head ul{}
.tab .head ul li{
    width: 9rem;
    line-height: 5rem;
    float: left;
}
.tab .head ul li h2{
    font-weight: 400;
    text-align: center;
}
.tab .head ul .active{
    color: #c14545;
    border-top: .4rem solid #2a70be;
    margin-top: -.2em;
    background-image: url("../img/tab_ui.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 9rem 5rem;
}
/*tab的内容*/
.tab .container{
    transform: translate3d(0px,0,0);
    transition: transform 100ms;
}
.tab .container .newList{
    position: relative;
    float: left;
    padding: 2rem 1.7rem;
}
.tab .container .newList ul{}
.tab .container .newList ul li{
    border-bottom: .1rem solid #eceef0;
    overflow: hidden;
}
.tab .container .newList ul li:last-of-type{
    border-bottom: none;
}
.tab .container .newList ul li a{
    line-height: 5rem;
    display: block;
    color: #000;
}
.tab .container .newList ul li a .them{
    float: left;
    padding: 1rem 0;
    margin-right: 1rem;
}
.tab .container .newList ul li a .them img{
    width: 11rem;
    display: inline-block;
    vertical-align: middle;
}
.tab .container .newList ul li a span{
    display: inline-block;
    margin-top: 1.4rem;
    margin-right: .8rem;
    float: left;
    width: 4rem;
    height: 2.3rem;
    background-image: url("../img/flagicon.png");
    background-repeat: no-repeat;
    background-size: 28rem 2.2rem;
}
/*专题图标*/
.tab .container .newList ul li a .topic{
    background-position: -12rem 0;
}
.tab .container .newList ul li a h2{
    font-size: 2.6rem;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tab .container .newList ul li a p{
    float: right;
    line-height: 1rem;
}
.tab .container .newList ul li a p i{
    display: inline-block;
    font-size: 2.5rem;
    font-style: normal;
    line-height: 3rem;
    vertical-align: middle;
    color: #878c92;
}
.tab .container .newList ul li a p .message{
    width: 2.2rem;
    height: 2.8rem;
    background-image: url("../img/icon_v2.png");
    background-repeat: no-repeat;
    background-position: -14rem .9rem;
    background-size: 20rem 4rem;
}
.tab .container .newList .comeInto{
    font-size: 2.7rem;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #f6f5f5;
}
.tab .container .newList .comeInto a{
    display: inline-block;
    line-height: 6rem;
    height: 6rem;
    width: 100%;
    text-align: center;
    color: #b4b4b4;
}
.tab .container .newList .comeInto a .goChannel:after{
    content: '';
    display: inline-block;
    margin-left: 10px;
    width: 48px;
    height: 53px;
    background-image: url("../img/icon_v2.png");
    background-repeat: no-repeat;
    background-position: -137px 0px;
    background-size: 262px 46px;
    vertical-align: middle;
}
/*加载新闻列表部分*/
.addNewsList{
    padding: 1rem 1.7rem;
    margin-top: 1rem;
    border-top: 4px solid #317ECB;
}
.addNewsList .hotNews{}
.addNewsList .hotNews h2{
    line-height: 4.5rem;
    font-size: 3rem;
    font-weight: 400;
    color: #317ECB;
}
.addNewsList ul{
    margin: 2rem 0;
}
.addNewsList ul li{
    line-height: 4rem;
    margin-bottom: 1.6rem;
}
.addNewsList ul li .img{
    float: left;
    margin-right: 2rem;
    background: #F6F5F5;
    border: 1px solid #DADADA;
    width: 12.5rem;
    height: 9.7rem;
    text-align: center;
}
.addNewsList ul li .img img{
    width: 11rem;
    margin-top: .5rem;
}
.addNewsList ul li h2{
    font-size: 2.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.addNewsList ul li p{
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.addNewsList .addMoreNews{
    font-size: 2.7rem;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #f6f5f5;
}
.addNewsList .addMoreNews a{
    display: inline-block;
    line-height: 6rem;
    height: 6rem;
    width: 100%;
    text-align: center;
    color: #A9A9A9;
}
.addNewsList .addMoreNews a:after{
    content: '';
    display: inline-block;
    margin-left: 10px;
    width: 48px;
    height: 53px;
    background-image: url("../img/icon_v2.png");
    background-repeat: no-repeat;
    background-position: -92px 0px;
    background-size: 262px 46px;
    vertical-align: middle;
}
/*页面上固定的图片*/
.fixImg{
    position: fixed;
    top: 75rem;
    right: 2rem;
    z-index: 1;
}
.fixImg img{
    width: 8rem;
}
/*应用推荐*/
.game{
    margin: 2rem 0;
    border-top: .4rem solid #317ECB;
}
.game .title{
    padding: 0 1.7rem;
    line-height: 6rem;
    border-bottom: 2px solid #E8E8E8;
}
.game .title h2{
    display: inline-block;
    font-size: 3rem;
    font-weight: 400;
    vertical-align: middle;
    color: #317ECB;
}
.game .title span{
    display: inline-block;
    float: right;
    font-size: 2.6rem;
    vertical-align: middle;
}
.game ul{
}
.game ul li{
    padding: 2.3rem 2.3rem 0 2.3rem;
    display: inline-block;
}
.game ul li a{
    display: inline-block;
}
.game ul li a .img{}
.game ul li a .img img{
    width: 10.5rem;
}
.game ul li a p{
    font-size: 2rem;
    line-height: 5rem;
    text-align: center;
}
.game ul li a span{
    display: inline-block;
    width: 10rem;
    font-size: 2.8rem;
    color: #3887e1;
    line-height: 5.3rem;
    border: 1px solid #3887e1;
    border-radius: 2rem;
    text-align: center;
    vertical-align: middle;
}
/*底部*/
footer{
    position: relative;
    background-color: #404A54;
}
footer .footerList{}
footer .footerList ul{
    padding: 1.7rem;
    margin: 3rem 0 0 0;
    background-color: #49535D;
}
footer .footerList ul li{
    padding: 0 3rem;
    display: inline-block;
    font-size: 2.6rem;
}
footer .footerList ul li a{
    line-height: 6rem;
    color: #95a0ac;
}
footer .lastMessage{
    padding-top: 1.7rem;
}
footer .lastMessage p{
    font-size: 2.3rem;
    padding: 1.6rem 0 0 2rem;
    color: #95a0ac;
}
footer .lastMessage p a{
    color: #95a0ac;
}
footer .lastMessage p span{
    padding: 0 2rem;
    font-weight: 400;
}
footer .lastMessage span{
    display: inline-block;
    padding: 1.6rem 0 1.6rem 2rem;
    font-size: 2rem;
    color: #95a0ac;;
}
footer .lastMessage .gobackTop{
    position: absolute;
    bottom: 7rem;
    right: 2rem;
    width: 7rem;
    height: 7rem;
    background-color: #313A43;
}
footer .lastMessage .gobackTop:after{
    content: '';
    display: inline-block;
    margin-top: 1.7rem;
    margin-left: 1.3rem;
    width: 4.6rem;
    height: 4rem;
    background-image: url("../img/icon_v2.png");
    background-repeat: no-repeat;
    background-size: 22rem 5rem;
    background-position: -17.5rem 0;
}
