.flex{
	display: flex;
	flex-direction: row;
	height:70px;
	border: 1px solid #CCCCCC;
}
.child{
	width: 50px;
	height: 50px;
	margin: 10px;
}
/*第一排*/
.flex1{
	justify-content: space-around;
}
/*第二排*/
.flex2{
	justify-content: space-between;
}
/*三排*/
.flex3{
	justify-content: space-around;
}

.child:nth-child(1){
	background: blue;
	order: 3;
}
.child:nth-child(2){
	background: red;
	order: 2;
}
.child:nth-child(3){
	background: yellow;
	order: 1;
}

