ul,li{
    padding: 0;
    margin: 0;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
.box{
    margin: 0 auto;
    width: 980px;
}
.box>.lists{
    margin-right: -20px;
}
li{
    margin-right: 20px ;
    margin-bottom: 20px;
    float: left;
    list-style: none;
}
li:after {
    content: '';
    display: block;
    width: 480px;
}
li img{
    width: 480px;
    height: 360px;
}